.upcomingDiv{
    background-color: #ff9999;
    padding: 8px;
    height: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size:1rem;
}
.homebodyDiv{
    display: flex;
    margin: 16px;
}

.releasedmoviegridDiv{
    max-width: 76%;
    margin: 16px;
    padding: 10px;
    
}

.moviefilterDiv{
    max-width: 24%;
    margin: 16px;
}